@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



.glow-anim {
    animation-name: glow-effect;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-direction: normal;

}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(66, 65, 65);
    border: solid 3px transparent;
    border-radius: 100px;
}

.block-active:hover {
  border-style: dashed;
  border-width: 1px;
}

.block-active-default {
    border-style: dashed;
    border-width: 1px;
}

@keyframes glow-effect {
    0% {
        box-shadow: inset 4px 4px 10px 10px rgba(11, 201, 222, 0), 4px 4px 100px 8px rgba(11, 201, 222, 0);
    }

    25% {
        filter: blur(2px);
    }

    100% {
        box-shadow: inset 4px 4px 10px 10px rgba(11, 201, 222, 0.19), 4px 4px 100px 15px rgba(11, 201, 222, 1);
    }
}

@layer base {
    * {
        -webkit-user-select: none;
        user-select: none;
        font-family: "Raleway", sans-serif;
    }
}

@theme {
    --font-pop: "Poppins", "sans-serif"; 
    --font-roboto: "Roboto", "sans-serif"; 
    --font-raleway: "Raleway", "sans-serif"; 
}
